.agency img{
  width: 100%;
}

/****** banner home *******/

.feature{
  height: 300px;
  text-align: center;

}
.feature img{
  width: 70px;
}

.feature h3{
  font-size: 20px;
}
.btn-small {
  border: 1px solid white;
  height: 32px;
  text-align: center;
  width: 150px;
  padding-top: 4px;
  margin-top: -20px;
}

.btn-small:hover {
  border: 1px solid white;
  background-color: #e1dddd;
  color: #616668;
}


#ref {
  border-color: #5776b6;
  margin-top: -30px;
}

#refe:hover {
  color: #616668;
}

#refe {
  margin-top: -2px;
}

/******* Menu mignature en model xs *******/


#video_background{
position: absolute;
bottom: 0px;
right: 0px;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -1000;
overflow: hidden;
}




// .banner-background {
//   color: white;
//   text-align: center;
//   height: 120vh;
//   background-size: cover;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .banner-content h1 {
//   font-family: 'Arial', sans-serif;
//   font-size: 45px;
//   color: #616668;
//   letter-spacing: 0px;
//   font-weight: normal;
// }







/****** Page d'accueil ******/

// .home .banner-background {
//   background-image: linear-gradient(-225deg, rgba(255, 255, 255, 0.4) 100%, rgba(255, 255, 255, 0.4) 100%), url('fondbanner3.png');
//   background-size: cover;
//   background-position: center;
//   height: 600px;
//   background-repeat: no-repeat;
//   margin-top: 50px;
// }

// .banner-background {
//   color: white;
//   text-align: center;
//   height: 120vh;
//   background-size: cover;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }


// .background-image {
//   margin-top: 50px;
// }


// .banner-background img {
//   filter: blur(0px);
// }


// .banner-content h1 {
//   font-family: 'Arial', sans-serif;
//   font-size: 45px;
//   color: #616668;
//   margin-top: 120px;
//   letter-spacing: 0px;
//   font-weight: normal;
// }




/****** Barres recherches *******/

.form-control {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}




.btn-lg {
  background-color: transparent;
  border-color: #d23333;
  color: #616668;
  margin-top: 30px;
  font-weight: normal;
}


.btn-primary:hover {
  background-color: #e1dddd;
  border-color: white;

}








#photo {


}




/******* Nos services ******/


#color h3 {
  font-size: 35px;
  margin-top: -80px;
}


#color img {
  margin-top: -290px;
  margin-bottom: -300px;
  height: 400px;

}




.icon-wrapper img {
  width: 50px;
  margin-top: 10px;
  margin-bottom: 25px;
}


.icon-wrapper p {
  margin-bottom: 60px;
}


.col-md-12 h2 {
 margin-top: 80px;
   margin-bottom: 50px;
 }


 h3 {
  margin-bottom: 45px;
}







/******* Top agencies *******/


#feature-container2 {
  background-color: #e1dddd;
}


#feature-container2 h2 {
    margin-top: 90px;
}


#top {
  margin-top: 50px;
  background-color: #e1dddd;
}


// .col-xs-12 img{
//   margin-top: 100px;
//   border-radius: 2px;
// }


// ul li {
//   display: inline;
// }



.top-agencies h4 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
}


.top-agencies p {
  color: #9a9898;
  font-size: 15px;
  margin-bottom: 25px;
  font-weight: lighter;
}


.top-agencies ul {
  display: inline;
  margin-left: -25px;
}

.top-agencies {
  margin-left: -10px;
}









/****** Testimonials ******/


.testimonial {
  margin-top: 100px;
  margin-bottom: 60px;
}

.testimonial .media{
  margin-top: 0;
  margin-bottom: 25px;
}

.testimonial .media>.pull-left{
  margin-right: 25px;
}

.testimonial .media>.pull-left img{
  margin-top: 6px;
}

.testimonial .media .media-body blockquote{
  padding-left: 25px;
  padding-right: 30px;
  position: relative;
  border-left: 0;
  margin-bottom: 0;
}

.testimonial .media .media-body blockquote:before{
  position: absolute;
  left: 5px;
  top: 8px;
  content: '"';
  font-size: 40px;
  color: #ea2c00;
  font-family: 'Noto Sans', sans-serif;
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Opera, Chrome, and Safari */
  line-height: 0;
}

.testimonial .media .media-body blockquote:after{
  position: absolute;
  right: 30px;
  bottom: 14px;
  content: '"';
  font-size: 40px;
  color: #ea2c00;
  font-family: 'Noto Sans', sans-serif;
  line-height: 0;
}


blockquote {
  letter-spacing: 2px;
}



