<div class="container">
  <div class="row">
    <% @agencies.each do |agency|%>

      <div class="agency">
        <%= link_to image_tag("agency.photo"), agency_path(agency) %>
        <h2><%= agency.name %></h2>
        <p> <%= agency.short_description %></p>
        <div class="stars">
          <% agency.review_mean.to_i.times do %>
            <i class="fa fa-star"></i>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>
</div>
