<p id="notice"><%= notice %></p>





<div class="padded">
<h1 class="text-center">Voici toutes les Agences suscesptible de vous intéressez  :</h1>
<%= render "agencies/agenciescard" %>

</div>




<br>

<%= link_to 'New Agency', new_agency_path %>
