  <div class="banner-background">

    <video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0" >
        <source src="<%= asset_path 'solut.webm'%>" type="video/webm">

    </video>


      <div class="banner-content">
        <h1>Vous cherchez une agence ?</h1>

        <div class="text-center">
            <select class="form-control select select-primary select2-offscreen" data-toggle="select" tabindex="-1" title="" placeholder="ou?">
            <option value="0">Où ?</option>
            <option value="1">France</option>
            <option value="2">Ile de France</option>
            <option value="3">PACA</option>
            <option value="4">Bretagne</option>
            <option value="5">Normandie</option>
            <option value="6">Centre</option>
          </select>


          <select class="form-control select select-primary select2-offscreen" data-toggle="select" tabindex="-1" title="">
            <option value="0">Quoi ?</option>
            <option value="1">Developpement web</option>
            <option value="2">Developpement mobile</option>
            <option value="3">Design</option>
            <option value="4">E-commerce</option>
            <option value="5">Montres connectées</option>
          </select>


          <select class="form-control select select-primary select2-offscreen c-select" data-toggle="select" tabindex="-1" title="">
            <option value="0">Combien ?</option>
            <option value="1">2k - 4,5k</option>
            <option value="2">5k - 7k</option>
            <option value="3">7,5k - 9,5k</option>
            <option value="4">10k - 15k</option>
            <option value="5">Indéterminé</option>
          </select>
      </div>







        <!--Bouton démarrer-->
        <div class="container">
        <a class="btn btn-primary btn-lg">Trouver</a>
        </div>



      </div>


  </div>




<!-- A propos/services -->


<div id="feature-container1" class="text-center">

  <div id="color">
  <h3>Nos services</h3>
  <%= image_tag('color-bar.png', class:"full" ) %>
  </div>



    <div class="row">

              <div class="col-md-12">
                   <h2 id="about"></h2>
              </div>

                    <div class="col-sm-4 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInUp;">
                        <div class="feature-inner">
                            <div class="icon-wrapper">
                                <img src="assets/bookmark.png"></i>
                            </div>
                            <h3>Catalogue</h3>
                            <p>Accédez à un catalogue complet de toutes les agences de developpement web et mobile partout en France.</p>
                        </div>
                    </div>

                    <div class="col-sm-4 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 600ms; animation-name: fadeInUp;">
                        <div class="feature-inner">
                            <div class="icon-wrapper">
                                <img src="assets/diploma.png"></i>
                            </div>
                            <h3>Classement</h3>
                            <p>Pour faire le bon choix visualisez les notes des agences sur 3 critères : compétences, influence, et avis clients. </p>
                        </div>
                    </div>

                    <div class="col-sm-4 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 900ms; animation-name: fadeInUp;">
                        <div class="feature-inner">
                            <div class="icon-wrapper">
                                <img src="assets/1456955809_clock.png"></i>
                            </div>
                            <h3>Devis et confidentialité</h3>
                            <p>Obtenez en 48h un devis gratuit et un contrat de confidentialité pour des échanges en toute sécurité.</p>
                        </div>
                    </div>

    </div>
</div>






<!-- Top des agences -->


<div id="feature-container2" class="text-center">

    <h2 class="page-header text-center" id="top"></h2>

    <div style="background-color: #f5f3f3; margin-top: -22px;">

      <div class="container">

           <div class="row">

                <div class="col-xs-12 col-sm-4 text-center top-agencies">

                      <img src="assets/bureau-developpement.jpg" style="width: 330px;">

                            <h4>Elephantius</h4>
                            <p>Agence spécialisée en developpement d'application iOS et particulièrement les réseaux sociaux.</p>

                        <ul class="pull-left list-inline">
                          <li>Linkedin</li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>

                        <ul class="pull-left">
                          <li>Github</li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>

                        <ul class="pull-left">
                          <li>Avis</li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>

                  </div>






                  <div class="col-xs-12 col-sm-4 text-center top-agencies">

                      <img src="assets/personal-branding.jpg" style="width: 330px;">

                            <h4>Meosis</h4>
                            <p>Developpeur web avec des fonctionnalités originales et des widgets ludiques.</p>

                        <ul class="pull-left">
                          <li>Linkedin</li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>

                        <ul class="pull-left">
                          <li>Github</li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>

                        <ul class="pull-left">
                          <li>Avis</li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>

                  </div>




                  <div class="col-xs-12 col-sm-4 text-center top-agencies">

                      <img src="assets/infogone.png" style="width: 330px;">

                            <h4>Infogone</h4>
                            <p>Developpeur web et mobile. Spécialiste des applications Android et réputé pour ses design.</p>

                        <ul class="pull-left">
                          <li>Linkedin</li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>

                        <ul class="pull-left">
                          <li>Github</li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>

                        <ul class="pull-left">
                          <li>Avis</li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>


                  </div>


    </div>
  </div>
</div>
</div>










<!-- Testimonials -->

<div class="container">

    <div class="testimonial">

        <div class="container">


                          <div class="col-xs-12 col-sm-6">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img src="assets/profile1.png" style="width: 100px;" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <blockquote>Très satisfait de la prestation !
                                    Une équipe sympa, dynamique et efficace.
                                    Très bénéfique pour mon entreprise.</blockquote>


                                   <ul class="pull-left">
                                      <li><i class="fa fa-star"></i></li>
                                      <li><i class="fa fa-star"></i></li>
                                      <li><i class="fa fa-star"></i></li>
                                   </ul>
                                    <h3><a href="#">- Jhon Kalis</a></h3>



                                </div>
                            </div>
                          </div>




                     <div class="col-xs-12 col-sm-6">

                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img src="assets/profile2.png" style="width: 100px;" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <blockquote>Entreprise jeune et dynamique, à l’écoute du client.
                                    Également disponible pour le suivi ou les modifications à apporter sur le site.</blockquote>


                                  <ul class="pull-left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                  </ul>
                                    <h3><a href="">- Abraham Josef</a></h3>


                                </div>
                            </div>

                      </div>
                      </div>

              </div>
            </div>











