/******* Navbar *******/

.navbar {
  background-color: #fe5f55;
  transition: all 0.3s ease;
}

.collapse .navbar-collapse {
  margin-top: 17px;
}

.navbar-fixed-top {
  font-size: 50px;
  font-weight: lighter;
  letter-spacing: 1px;
  box-shadow: 0 0 2px;
}

.navbar a {
  color: white;
  font-size: 14px;
  font-weight: normal;
}

.navbar a:hover {
  color: #616668;
}

.navbar-link {
  color: #616668;
  font-size: 14px;
}


.navbar-link:hover {
  color: #a2ecc4;
  text-decoration: none;
}
